input
{
  font-size: large;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h3
{
  color: rgb(65, 225, 153);
}
body
{
  color: rgb(244, 10, 49);
  background-color: wheat;
}
button
{
  color: yellow;
  background-color: red;
  border-color: brown;
}
input
{
  color: darkblue;
  background-color: aquamarine;
}
textarea
{
  color: darkblue;
  background-color: aquamarine;
}